.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  height: 4em;
  width: 100%;
  padding-right: 1em;
  padding-left: 1em;

  background-color: transparent;

  &.scrollingHeader {
    @extend %box-shadow;
    @extend .animated;
    @extend .fadeInDown;

    position: fixed;

    background-color: $color-white;
  }

  @media (min-width: $mq-md) {
    padding-right: 2em;
    padding-left: 2em;
  }
}

nav ul {
  display: flex;

  list-style-type: none;

  & > * {

    &:not(:last-child) {
      margin-right: 1em;
    }

    a {
      @include link-underline();
      
      font-family: $font-header;
      font-weight: 700;
    }
  }
}

.home nav ul a {
  @include link-underline($color-white, $color-white);
}