.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;

  height: 4em;
  width: 100%;
  padding-right: 1em;
  padding-left: 1em;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  background-color: $color-grey;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  animation: fadeIn 3s both 0.3s;
}

nav ul {
  display: flex;

  list-style-type: none;

  & > * {

    &:not(:last-child) {
      margin-right: 1em;
    }

    a {
      @include link-underline();

      font-family: $font-header;
      font-weight: 700;
    }
  }
}
