.share-container {
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.share-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    cursor: pointer !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}

.share-button:hover:not(:active) {
  opacity: 0.75;
}
