node_modules
.cache/
.DS_Store
yarn-error.log

# Build directory
public/

# Facebook posts
# this is temporary while I am working on how I want to do this
# eventually this will be commited but in some cleaned up form rather
# than the raw export
facebook
