.fb-post {
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  p {
    font-size: 1em;
  }

  @media (min-width: $mq-md) {
    width: 80%;
  }

  @media (min-width: $mq-lg) {
    width: 60%;
  }
}

.fb-author {
  display: flex;
  justify-content: left;
  margin-top: 2em;
  padding-top: 20px;

  img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }

  div {
    padding-left: 12px;
  }

  p {
    margin-top: 0.25em;
    font-size: 0.75em;
    color: #65676B;
  }
}

.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 1;
}

.travelling_to_ring {
  border: 3px solid rgba(255, 0, 0, .5);
  -webkit-border-radius: 30px;
  height: 25px;
  width: 25px;
  -webkit-animation: pulsate 1.25s ease-out;
  -webkit-animation-iteration-count: infinite;
}

@keyframes pulsate {
  0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
  50% {opacity: 1.0;}
  100% {-webkit-transform: scale(0.8, 0.8); opacity: 0.0;}
}
