@use '../variables' as *;

.ig-grid {
  padding-top: 1em;
  padding-bottom: 1em;
  max-width: 80%;
  margin: auto;

  img, video {
    cursor: pointer;
    object-fit: cover;
  }

  @media (max-width: $mq-md) {
    max-width: 95%;
  }
}

.ig-gallery-icon {
  position: absolute;
  overflow: hidden;
  inset: 0 0 auto auto;
  padding: 0.5em;
  color: $color-grey;
}

.ig-post {
  background-color: $color-white;
  padding: 20px;
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  margin-top: 4em;

  .media-container {
    height: 100%;
    flex: 2;
    position: relative;
    background-color: black;

    img, video {
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      margin: auto;
      max-width: 100%;
      max-height: 100%;
      width: auto;
    }

    .carousel-root, .carousel, .slider-wrapper, .slider, .slide {
      height: 100%;
    }

    .control-arrow {
      width: 40px;
    }
  }

  .post-details {
    flex: 1;
    padding-left: 20px;

    .author {
      display: flex;
      justify-content: left;

      img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
      }

      div {
        padding-left: 12px;
      }

      p {
        margin-top: 0.25em;
        margin-bottom: 0.25em;
        font-size: 0.75em;
        color: #65676B;
      }

      a:link {
        text-decoration: none;
      }
    }

    .text {
      max-height: 90%;
      overflow-y: scroll;
      padding-top: 0.5em;
    }
  }

  // ig-post
  @media (max-width: $mq-md) {
    display: block;
    height: 86%;
    padding: 5px;

    .media-container {
      display: block;
      min-width: 100%;
      height: 60%;
    }

    .post-details {
      padding-top: 1em;
      height: 30%;
    }
  }
}

.ig-modal-caret {
  cursor: pointer;
  font-size: 50px;
  color: $color-grey;
  padding: 20px;
  user-select: none;

  @media (max-width: $mq-md) {
    padding: 10px;
    font-size: 30px;
  }
}
