@use '../variables' as *;

.post-mast {
  position: relative;

  padding-top: 60%;

  @media (min-width: $mq-md) {
    height: calc(100vh - 12em);
    padding-top: 0;
  }

  @media (max-width: $mq-sm) {
    margin-top: 4em;
  }

  .absolute-bg {
    animation: fadeIn 3s both 0.3s;
  }
}

.post {
  background-color: $color-grey;
  animation: fadeIn 3s both 0.3s;

  @media (min-width: $mq-md) {
    margin-top: -6em;
  }

  @media (min-width: $mq-xxl) {
    max-width: $mq-xl;
    margin-right: auto;
    margin-left: auto;
  }
}

.post-header {
  padding-top: 1em;
  margin-bottom: 1em;

  text-align: center;

  @media (min-width: $mq-md) {
    margin-bottom: 3em;
  }

  time {
    display: block;
    margin-top: 0.5em;

    font-size: 1.25em;
  }
}

.post-content {
  @media (min-width: $mq-md) {
    margin-right: 8em;
    margin-left: 8em;
  }

  a {
    text-decoration: none;
    color: $color-black;
    box-shadow: inset 0 -2px 0 $color-beta;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);

    &:hover,
    &:focus {
      color: $color-white;
      background-color: $color-beta;
    }
  }

  ol, ul {
    margin-bottom: 1em;
    margin-left: 1em;

    & > li {
      position: relative;

      &:before {
        position: absolute;
        left: -1em;
      }

      &:not(:last-child) {
        margin-bottom: 0.25em;
      }
    }
  }

  ol {
    list-style-type: none;
    counter-reset: li;

    & > li:before {
      content: counter(li) ".";

      counter-increment: li;
    }
  }

  figure {
    margin-top: 2em;
    margin-bottom: 2em;

    img {
      width: 100%;
    }
  }

  .gif {
    margin-top: 2em;
    margin-bottom: 2em;

    img {
      margin: auto;
      width: 300px;
    }
  }

  figcaption {
    padding-top: 0.5em;
    text-align: center;
    max-width: 640px;
    margin: auto;
  }
}

.post-author {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-top: 2em;

  @media (min-width: $mq-md) {
    margin-right: 8em;
    margin-left: 8em;
  }

  img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
  }
  div {
    padding-left: 12px;
  }
}

.post-padding {
  padding-bottom: 2em;
}

@media print {
  @page {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .header {
    display: none !important;
  }

  .post-mast {
    display: none !important;
  }

  .post-header {
    margin: 4em !important;
    margin-bottom: 2em !important;
  }

  .grid--double {
    margin: 0px !important;
  }

  .post-content {
    margin: 4em !important;
    margin-top: 2em !important;
  }

  figure {
    break-inside: avoid;
    max-width: 60% !important;
    margin: auto;
  }

  p {
    break-inside: avoid;
  }

  ul {
    break-inside: avoid;
  }

  .share-container {
    display: none !important;
  }

  .post-author {
    display: none !important;
  }
}
