@use '../variables' as *;

#visit {
  .question-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
  }

  .question {
    min-width: 200px;
    max-width: 200px;

    @media (max-width: $mq-sm) {
      min-width: 140px;
      max-width: 140px;
    }
  }

  .react-datepicker__input-container {
    button {
      max-width: 200px;
      min-width: 200px;
      height: 44px;
      border: 0;
      background-color: $color-white;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
      color: $color-black;
      font-family: 'Fanwood Text';
      text-align: left;
      padding-left: 14px;
      cursor: pointer;

      @media (max-width: $mq-sm) {
        max-width: 140px;
        min-width: 140px;
      }

      &:focus  {
        outline: none;
      }
    }
  }

  .response {
    animation: fadeIn 2s both;
  }

  .closing {
    animation: fadeIn 2s both 1s;
  }
}

/*
 * Select
 */
.caret-icon {
  position: absolute;
  right: 1rem;
  top: 1.25rem;
  fill: #333;
}

/* animate caret icon */
.rrs--options-visible .caret-icon {
  transform: rotate(180deg);
}

/* animate opening of the options panel */
.rrs__options {
  transition: all .2s cubic-bezier(0.19, 1, 0.22, 1);
  max-height: 0;
  opacity: 0;
}

/* animate opening of the options panel */
.rrs--options-visible .rrs__options {
  opacity: 1;
}

/* remove coloring */
.rrs--has-changed .rrs__label {
  color: $color-black;
}

.rrs__option.rrs__option--selected {
  color: $color-black;
}
