#blog {
  ul {
    @include flex-grid(1, 2, $pad: 1em);

    margin-top: 1em;

    list-style-type: none;

    @media (min-width: $mq-sm) {
      margin-top: 2em;
    }

    @media (min-width: $mq-xxl) {
      max-width: $mq-xl;
      margin-right: auto;
      margin-left: auto;
    }
  }

  .read-more {
    max-width: $mq-md;
    margin: 1em auto 0;
    padding-top: 2em;
    padding-bottom: 2em;

    text-align: center;
    border-top: 1px solid rgba($color-black, 0.1);
  }
}

.preview {
  &:nth-child(even) {
    @media (min-width: $mq-md) {
      margin-top: 3em;
    }
  }

  a {
    @extend %card-shadow;
    text-decoration: none;
    display: block;
  }

  .image {
    position: relative;

    padding-bottom: 60%;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding: 2em 1em;

    text-align: center;

    @media (min-width: $mq-sm) {
      padding: 3em 2em;
    }
  }

  h2 {
    text-decoration: underline;
  }

  .date {
    font-family: $font-header;
  }
}
