@use '../variables' as *;

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  border: none;
  outline: none;
  padding: 0px;
  background-color: inherit;
  color: $color-beta;
  font-family: $font-header;
  font-weight: 700;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  visibility: hidden;
  display: none;
  opacity: 0.0;
  transition: all 5s ease;
  position: absolute;
  background-color: $color-grey;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: $color-black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  visibility: visible;
  opacity: 1.0;
  animation: fadeIn 0.5s;
}
