@use '../variables' as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;

  height: 4em;
  width: 100%;
  padding-right: 1em;
  padding-left: 1em;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  background-color: $color-grey;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@mixin link-underline($mainColor: $color-beta, $underColor: $color-beta) {
  position: relative;

  color: $mainColor;

  &:hover,
  &:active,
  &:focus {
    color: $mainColor;

    &:before {
      visibility: visible;
      transform: scaleX(1);
    }
  }

  &:before {
    content: "";
    position: absolute;
    bottom: -0.1em;
    left: 0;

    height: 2px;
    width: 100%;

    background-color: $underColor;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
  }
}

nav ul {
  display: flex;

  list-style-type: none;

  & > * {

    &:not(:last-child) {
      margin-right: 1em;
    }

    a {
      @include link-underline();

      text-decoration: none;
      font-family: $font-header;
      font-weight: 700;
    }

    .nav-button {
      @include link-underline();

      &:before {
        bottom: 0em;
      }
    }
  }
}

.active {
  &:before {
    visibility: visible !important;
    transform: scaleX(1) !important;
  }
}
