body {
  min-height: 100vh;

  color: $color-black;
  background-color: $color-grey;
}

main {
  flex-grow: 1;
  padding-top: 4em;
  padding-top: 0;
}

section {
  position: relative;
}

.section-padding {
  padding-top: 4em;
}

.grid {
  margin-right: 1em;
  margin-left: 1em;

  @media (min-width: $mq-md) {
    margin-right: 4em;
    margin-left: 4em;
  }

  &--double {
    margin-right: 1em;
    margin-left: 1em;

    @media (min-width: $mq-md) {
      margin-right: 8em;
      margin-left: 8em;
    }
  }
}

.text-container {
  max-width: $mq-md;
  margin: 2em auto 0;
}

.absolute-bg {
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}
