$font-header: "Quattrocento", serif;
$font-body: "Fanwood Text", serif;

$color-black: #494949;
$color-grey: #f8f8f8;
$color-white: #fff;
$color-alpha: #F0F8FF;
$color-beta: #323235;

$mq-xs: 20em;
$mq-sm: 30em;
$mq-md: 54em;
$mq-lg: 64em;
$mq-xl: 76.5em;
$mq-xxl: 114em;

@import 'base/_normalize',
  'base/_settings',
  'base/_body',
  'base/_animations';

@import 'pages/_home',
  'pages/_about',
  'pages/_map',
  'pages/_visit',
  'pages/_blog',
  'pages/_facebook',
  'pages/_instagram',
  'pages/_post';

@import 'components/_nav',
  'components/_modal',
  'components/_video',
  'components/_quote',
  'components/_two_column',
  'components/_dropdown',
  'components/_search',
  'components/_carousel',
  'components/_share';
